@model Movie

<div class="container">
    @if (Model.Id == 0)
    {
        <h1>Создание</h1>
    }
    else
    {
        <h1>Редактирование</h1>
    }
    <form method="post">
        <div class="form-group">
            <label for="title">Название</label>
            <input class="form-control" id="title" asp-for="Title">
        </div>
        <div class="form-group">
            <label for="director">Режиссер</label>
            <input class="form-control" id="director" asp-for="Director">
        </div>
        <div class="form-group">
            <label for="releaseYear">Год выпуска</label>
            <input class="form-control" id="releaseYear" asp-for="ReleaseYear">
        </div>
        <div class="form-group">
            <label for="description">Описание</label>
            <textarea class="form-control" id="description" rows="3" asp-for="Description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Создать</button>
    </form>
</div>